<!DOCTYPE html>
<head>
  <title>Translator app</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-4">
    <div class="form-group">
      <label for="input_text">Input text</label>
      <input type="text" class="form-control" style="width: 40%;" id="input_text" placeholder="Enter text...">
    </div>
    <div class="form-group">
      <p>Result:</p>
      <p class="lead" id="translated_text" name="translated_text"/>
    </div>
  </div>    
  <script>
    $(document).on('keypress', function(e){
      if(e.which == 13) {
        submitText();
      }
    });
    function submitText() {
      $.ajax({
					url: "/Translate",
					type: "POST",
					data: JSON.stringify({"input_text": $("#input_text").val()}),
					contentType: "application/json; charset=utf-8",
          dataType: "text",
					success: function(response) {
						$("#translated_text").append('<br />'+response);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log("Error: " + textStatus + " - " + errorThrown);
					}
				});
    }
  </script>
</body>
